.academic__courses__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-background-title);
    border-radius: 5px;
    width: calc(35% - 2rem);
}

@media screen and (max-width: 768px) {
    .academic__courses__box {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 425px) {
    .academic__courses__box {
        width: calc(80% - 2rem);
        margin: 1rem;
    }
}