.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: var(--color-background-menu);
}

.menu nav .menu__list__item__contato a {
    display: none;
}

/*Responsive*/

@media screen and (max-width: 768px) {

    .menu nav .menu__list__item__contato a {
        display: block;
        color: var(--color-title);
    }

    .menu nav .menu__list__item__contato a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 425px) {
    .menu {
        justify-content: center;
    }

    .menu nav .menu__list__item__contato a {
        display: none;
    }
}