.menu__list__item {
    list-style: none;
}

.menu__list__item a {
    color: whitesmoke;
    font-family: 'Montserrat', cursive;
    padding-right: .75rem;
    text-decoration: none;
}

.menu__list__item .activo {
    color: #ff814a;
}

.menu__list__item a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 5px blue;
}

/*Responsive*/

@media screen and (max-width: 768px) {
    .menu__list__item {
        display: none;
    }
}