.about__title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ff814a;
    font-size: 1.75rem;
    text-shadow: 2px 2px 5px black;
    text-decoration: underline 5px white;
    margin-bottom: 1rem;
    margin-top: 0;
}

@media screen and (max-width: 425px) {
    .about__title {
        font-size: 1.125rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}