.about__title {
    text-transform: uppercase;
    color: var(--color-title);
    font-size: var(--size-title);
    text-shadow: 2px 2px 5px black;
    text-decoration: underline 5px white;
    margin-bottom: 1rem;
    margin-top: 0;
}

@media screen and (max-width: 425px) {
    .about__title {
        font-size: 1.125rem;
        text-align: center;
    }
}