@supports ((-webkit-hyphens:auto) or (hyphens:auto)) {
    .about__paragraph {
        font-size: var(--size--about);
        color: var(--color-letter);
        text-align: justify;
        -webkit-hyphens: auto;
        hyphens: auto;
        text-shadow: 2px 2px 5px black;
        line-height: 1.5rem;
    }

    /* Responsive */

    @media screen and (max-width: 425px) {
        .about__paragraph {
            font-size: .875rem;
            margin-bottom: 1rem;
        }
    }
}