.about__container {
    display: flex;
    width: 80%;
    padding: 1rem;
    background: var(--color-background-title);
    border-radius: 15px;
    box-shadow: 5px 5px 15px orange;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .about__container {
        width: auto;
    }
}