.titles {
    background-image: url("../img/title.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-title);
    font-size: var(--size-title);
    text-shadow: 2px 2px 5px black;
}
