.experience__boton {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-background-title);
    font-size: var(--size-letter);
    color: var(--color-letter);
    border-radius: 5px;
    padding: .5rem;
    margin: 0 1rem;
    border: none;
    cursor: pointer;
}

.experience__boton:hover {
    background: var(--color-title);
}

@media screen and (max-width: 768px) {
    .experience__list__item {
        font-size: .5rem;
    }
}