.experience__subtitle {
    font-size: var(--size-paragraph);
    color: var(--color-subtitle);
    text-shadow: 2px 2px 5px lightslategray;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .experience__subtitle {
        font-size: 0.857rem;
    }
}