.title__profile {
    width: auto;
    height: 40vh;
    border-radius: 10% 25%;
    box-shadow: 5px 5px 10px black;
}

/*Responsive*/

@media screen and (max-width: 768px) {
    .title__profile {
        height: 35vh;
    }
}

@media screen and (max-width: 425px) {
    .title__profile {
        height: 25vh;
    }
}