.title__network__item a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: var(--size-letter-title-link);
    color: var(--color-title);
    text-shadow: 2px 2px black;
    margin-right: 1rem;
}

.title__network__item a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 5px blue;
}

.title__network__item a img {
    width: 1.5rem;
    background-color: var(--color-backgound-link);
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .title__network__item {
        font-size: .75rem;
    }

    .title__network__item a img {
        width: 1rem;
    }
}