.title__network {
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 768px) {
    .title__network {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 425px) {
    .title__network {
        flex-direction: column;
        align-items: flex-start;
    }
}