.title {
    padding: 3rem;
    background-image: url("/assets/img/title.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Responsive*/
@media screen and (max-width: 768px) {
    .title {
        padding: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .title {
        padding: .5rem;
    }
}