@supports ((-webkit-hyphens:auto) or (hyphens:auto)) {
    .title__subsection {
        text-align: justify;
        font-size: var(--size-paragraph);
        color: var(--color-letter);
        text-shadow: 2px 2px 5px black;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    /* Responsive */

    @media screen and (max-width: 768px) {
        .title__subsection {
            font-size: 1.125rem;
        }
    }
}